@font-face{
    src: url("CursedTimerUlil-Aznm.ttf");
    font-family: "Cursed Timer ULiL";
}

body {
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: #1B244A;
    color: #EEEEEE;
}
button{
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    color: #9AABD8;
    font-size: 18px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: #1B244A;
}

main {
    display: flex;
    width: 575px;
    height: 385px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    
}

.home-text, .guest-text{
    font-family: "Arimo", sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

#home-score, #guest-score{
    width: 117px;
    height: 120px;
    background-color: #080001;
    color: #F94F6D;
    font-size: 90px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 19px;
    margin-bottom: 30px;
    border-radius: 5px;
}

